@model ProductUpdateDto

<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        @* <div class="form-text">We'll never share your email with anyone else.</div> *@
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Product Code</label>
        <input type="text" asp-for="ProductCode" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        @* <div class="form-text">We'll never share your email with anyone else.</div> *@
        <span asp-validation-for="ProductCode" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Revard Points</label>
        <input type="number" asp-for="RevardPoints" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        @* <div class="form-text">We'll never share your email with anyone else.</div> *@
        <span asp-validation-for="RevardPoints" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Price</label>
        <input type="text" asp-for="Price" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        @* <div class="form-text">We'll never share your email with anyone else.</div> *@
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Rating</label>
        <input type="text" asp-for="Rating" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        @* <div class="form-text">We'll never share your email with anyone else.</div> *@
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Discount </label>
        <input type="number" asp-for="Discount" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        @* <div class="form-text">We'll never share your email with anyone else.</div> *@
        <span asp-validation-for="Discount" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Is it in stock? </label>
        <input type="checkbox" asp-for="IsStock" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        @* <div class="form-text">We'll never share your email with anyone else.</div> *@
        <span asp-validation-for="IsStock" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Short Description </label>
        <input type="text" asp-for="ShortDescription" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        @* <div class="form-text">We'll never share your email with anyone else.</div> *@
        <span asp-validation-for="ShortDescription" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Long Description </label>
        <input type="text" asp-for="LongDescription" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        @* <div class="form-text">We'll never share your email with anyone else.</div> *@
        <span asp-validation-for="LongDescription" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Main File</label>
        <input asp-for="MainFile" class="form-control" id="exampleInputPassword1">
        <span asp-validation-for="MainFile" class="text-danger"></span>
    </div>
    <img src="~/assets/image/productImgs/@Model.MainFilePath" style="width:150px" />
    <input type="hidden" asp-for="MainFilePath" />
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Hover File</label>
        <input asp-for="HoverFile" class="form-control" id="exampleInputPassword1">
        <span asp-validation-for="HoverFile" class="text-danger"></span>
    </div>
    <img src="~/assets/image/productImgs/@Model.HoverFilePath" style="width:150px"/>
    <input type="hidden" asp-for="HoverFilePath" />
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Additional Files</label>
        <input asp-for="AdditionalFiles" class="form-control" id="exampleInputPassword1">
        <span asp-validation-for="AdditionalFiles" class="text-danger"></span>
    </div>
    @foreach (var item in Model.AdditionalFilePaths)
    {
        <img src="~/assets/image/productImgs/@item" style="width:150px"/>
        <input type="hidden" asp-for="AdditionalFilePaths" />
    }
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Category</label>
        <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories,nameof(Category.Id),nameof(Category.Name)))" class="form-control">
            <option disabled selected>Select Category</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Brand</label>
        <select asp-for="BrandId" asp-items="@(new SelectList(ViewBag.Brands,nameof(Brand.Id),nameof(Brand.Name)))" class="form-control">
            <option disabled selected>Select Brand</option>
        </select>
        <span asp-validation-for="BrandId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Author</label>
        <select asp-for="AuthorId" asp-items="@(new SelectList(ViewBag.Author,nameof(Author.Id),nameof(Author.Name)))" class="form-control">
            <option selected>Select Author</option>
        </select>
        <span asp-validation-for="AuthorId" class="text-danger"></span>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger">  </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

